/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    .bike {
        background-image: linear-gradient(rgba(2, 2, 2, 0), rgba(2, 2, 2, 0.5)), url(img/sided.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-attachment: fixed;
        margin-bottom: 50%;
}


/* Small tablet to big tablet: from 576px to 768px */
@media only screen and (max-width: 768px) {
    
    .bike {
        background-image: linear-gradient(rgba(2, 2, 2, 0), rgba(2, 2, 2, 0.5)), url(img/sided.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-attachment: fixed;
        margin-bottom: 30%;
}

    .btn {
        display: inline-block;
        background-color: #30b925;
        color: white;
        padding: 10px 30px;
        font-weight: 300;
        text-decoration: none;
        border-radius: 200px;
    } 
}

/* Small phones to small tablets: from 481px to 575px */
@media only screen and (max-width: 575px) {
    .bike {
        background-image: linear-gradient(rgba(2, 2, 2, 0), rgba(2, 2, 2, 0.5)), url(img/sided.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-attachment: fixed;
        margin-bottom: 50%;
    }   
}

/* Small phones to small tablets: from 0px to 480px */
@media only screen and (max-width: 480px) {   
    .bike {
        background-image: linear-gradient(rgba(2, 2, 2, 0), rgba(2, 2, 2, 0.5)), url(img/sided.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-attachment: fixed;
        margin-bottom: 50%;
    }
}